name: Build & Deploy fitness_bot

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: docker/setup-buildx-action@v2

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        run: |
          docker build -f Dockerfile \
            -t ivankhoda/fitness:fitness_bot-${{ github.sha }} .
          docker push ivankhoda/fitness:fitness_bot-${{ github.sha }}

      - name: Deploy on VDS
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - run: |
          ssh -o StrictHostKeyChecking=no \
            ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }} << EOF
            export FITNESS_BOT_TAG=${{ github.sha }}

            docker pull ivankhoda/fitness:fitness_bot-${{ github.sha }}
            docker compose -f docker-compose-bot.prod.yml up -d fitness_bot
          EOF
